///* ==========================================================================
//   #ASPECT RATIO
//   ========================================================================== */

// Mixin to apply aspect ratio to an element

// @include aspect-ratio(16,9);
// @include aspect-ratio(4,3);
// @include aspect-ratio(4,4, true);

@mixin aspect-ratio($x,$y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');
  
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);

      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
