///* ==========================================================================
//   #COLOR-VARIABLES
//   ========================================================================== */

$color-dark: #202020;
$color-grey: #808080;
$color-gold: #c8ab78;
$color-blue: #3366bb;

$color-blue-100:  #eceff2;

$color-grey-500: #606060;
$color-grey-100: #d5d5d5;

$color-primary: $color-gold !default;
$color-secondary: $color-grey !default;
$color-body: $color-dark !default;
$color-bg-dark: $color-dark !default;
