///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 2px !default;
$global-container-max-width: 1200px;
$global-container-width: 1140px;
$global-clip-path: polygon(
  0% 0%,
  0% 0%,
  95% 0%,
  100% 5%,
  100% 100%,
  100% 100%,
  0% 100%,
  0 100%
);


// Utilities
$use-aspect-ratio: false !default;
$use-background-size: false !default;
$use-clearfix: true !default;
$use-text-colors: false !default;
$use-bg-colors: false !default;
$use-font-family: false !default;
$use-font-size: false !default;
$use-font-weight: false !default;
$use-spacing: false !default;
$use-spacing-responsive: false !default;
$use-text-alignment: false !default;
$use-text-style: false !default;