/* ==========================================================================
   #GRID
   ========================================================================== */

$default-breakpoint-name: xl;
$grid-cols: 12;
$grid-gap: 30px;
$grid-container-width: 100%;
$default-breakpoint-value: map_has_key($breakpoints, $default-breakpoint-name);
$new-breakpoints: map_remove($breakpoints, $default-breakpoint-name);
$grid-col-width: $grid-container-width/$grid-cols;

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: (-$grid-gap/2);
  margin-right: (-$grid-gap/2);
  font-size: 0;

  &__col {
    width: 100%;
    padding-left: $grid-gap/2;
    padding-right: $grid-gap/2;

    &-grow {
      flex-grow: 1;
    }

    @for $i from 1 through 15 {

      &-#{$default-breakpoint-name}-#{$i} {
        width: $i * $grid-col-width;
      }
    }

    @each $key, $val in $new-breakpoints {
      @for $i from 1 through 15 {
        @include mq($from: $key) {

          &-#{$key}-#{$i} {
            width: $i * $grid-col-width;
          }
        }
      }
    }
  }
}
