/* ==========================================================================
   #CONTAINER-OBJECT
   ========================================================================== */

.o-container {
  width: 100%;
  max-width: $global-container-max-width;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;

  @include mq($from: sm) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  
  @include mq($from: md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  @include mq($from: lg) {
    width: $global-container-width;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
  }
}
