/* ==========================================================================
   #PAGE-MASK
   ========================================================================== */

.page-mask {
  @include basic-transition((opacity, visibility));

  position: fixed;
  bottom: -200px;
  left: -200px;
  right: -200px;
  top: -200px;
  opacity: 0;
  visibility: hidden;
  background: rgba(0,0,0,.4);
  pointer-events: none;
  cursor: pointer;
  z-index: 999;
}

.page-mask.is-visible {
  @include basic-transition((opacity));

  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}