.content-inner.about-content
  .o-container
    h1.about__heading.heading.heading--bar О компании
    figure.content-banner
      img(src="img/content/about-1.jpg", alt="")
    .content-zone
      .about-content__text
        p.
          Уже привычным для жителей одного из общежитий Харькова стало встречать зиму без отопления и холодной воды. Частые поломки труб и проблемы с редоставлением <b>коммунальных услуг</b> возникли после передачи многоэтажки с собственности Харьковского завода имени Т. Г. Шевченка одному из училищ города и, соответственно, смена статуса из семейного общежития в место для временного проживания учеников.
        p.
          Основной загвоздкой для жителей стало отсутствие нормативного основания для такой передачи, поскольку решение было принято <b>исключительно</b> на выполнение письма вышестоящих органов власти. Сейчас же, даже имея регистрационные документы, семьи столкнулись с проблемой невозможности приватизировать жилье.
        p.
          Уже привычным для жителей одного из общежитий Харькова стало встречать зиму без отопления и холодной воды. Частые поломки труб и проблемы с редоставлением коммунальных услуг возникли после передачи многоэтажки с <a href="#">собственности</a> Харьковского завода имени Т. Г. Шевченка одному из училищ города и, оответственно, смена статуса из семейного общежития в место для временного проживания учеников. Основной загвоздкой для жителей стало отсутствие нормативного основания для такой передачи.
