.contacts-content
  h1.contacts__heading.heading.heading--bar Контакты

  .contacts-block
    .contacts-info
      ul.contacts-list
        li.contacts-item
          +icon('placeholder')
          .contacts-item__text
            p.
        li.contacts-item
          +icon('phone')
        li.contacts-item
          +icon('email')
    .map