/* ==========================================================================
   #TOP-BANNER
   ========================================================================== */

.top-banner {
  @include background();

  position: relative;
  color: #fff;

  .o-container {
    position: relative;
    z-index: 1;
  }
}

.top-banner::after {
  @include pseudo();

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-bg-dark, 0.4);
}

.top-banner-video__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 680px;
}

.top-banner-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.top-banner-item {
  padding-top: 80px;
  padding-bottom: 96px;

  @include on-event {
    outline: none;
  }
}

.top-banner__heading {
  margin-bottom: 32px;
  font-size: rem(48);
}

.top-banner__subheading {
  margin-bottom: 36px;
  font-size: rem(38);
  line-height: 1.4;
}

.top-banner__btn {
  margin-bottom: 4.5rem;
  padding: 0.7em 30px;
}

.top-banner__areas-heading {
  margin-bottom: rem(28);
  font-family: $font-body;
  font-weight: 300;
  font-size: rem(22);
}

.top-banner__areas {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.top-banner__area {
  display: flex;
  align-items: center;
  margin-right: 45px;
  margin-bottom: 16px;

  &:last-child {
    margin-right: 0;
  }
}

.top-banner__area-icon {
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  margin-right: 20px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  font-size: 40px;
  color: $color-primary;
}

.top-banner__area-text {
  font-weight: 500;
  font-size: rem(18);
  line-height: 1.44;
}

.top-banner-controls {

  .slider-controls__prev,
  .slider-controls__next {
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    color: #fff;
  }

  .slider-controls__prev {
    left: -90px;
  }

  .slider-controls__next {
    right: -90px;
  }
}