/* ==========================================================================
   #FORM
   ========================================================================== */

.form__row {
  display: flex;
  flex-wrap: wrap;
}

.form__row--y-center {
  align-items: center;
}