/* ==========================================================================
   #HEADER-SEARCH
   ========================================================================== */

.header-search {
  @include basic-transition((opacity));

  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  z-index: -5;
  overflow: hidden;
}

.header-search.is-open  {
  width: 100%;
  z-index: 1;
  opacity: 1;
}

.header-search__wrapper,
.header-search__button {
  height: 44px;

  @include mq($from: sm) {
    height: 100%;
  }
}

.header-search__button {
  flex: none;
  display: inline-block;
  width: 44px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background-color: $color-primary;

  @include mq($from: sm) {
    width: 64px;
    font-size: 24px;
  }

  @include mq($from: md) {
    width: 70px;
    font-size: 28px;
  }
}

.header-search__close,
.header-search__submit {
  @include basic-transition((color));
  
  flex: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  font-size: 16px;

  @include on-event {
    outline: none;
    color: $color-primary;
  }
}

.header-search__close {
  font-size: 12px;
}

.header-search__submit {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.header-search .inputbox {
  flex-grow: 1;
}

.header-search .inputbox__wrapper,
.header-search .input {
  box-shadow: none;
}

.header-search .inputbox__wrapper {
  background-color: #fff;
}

.header-search .input {
  height: 44px;
  padding-left: 50px;
  border-color: $color-grey-100;
  background-color: rgba($color-grey-100, 0.3);

  &:focus {
    outline: none;
    background-color: #fff;
  }

  @include mq($until: xs) {
    font-size: rem(15);
  }
}