/* ==========================================================================
   #ICONS
   ========================================================================== */

.icon {
  display: inline-flex;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  fill: currentColor;
  pointer-events: none;
}