/* ==========================================================================
   #PRACTICE-CONTENT
   ========================================================================== */


.practice-content .content-banner {
  margin-bottom: 1.5rem;
}

.practice-content .content-zone {
  
  @include mq($from: md) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.practice-content .c-btn {
  max-width: 270px;
  margin-top: 32px;
}