/* ==========================================================================
   #HEADINGS
   ========================================================================== */

.heading {
  position: relative;
  margin-bottom: 2.5rem;
  font-family: $font-secondary;
  font-weight: bold;
  font-size: rem(36);
  text-transform: uppercase;
}

.heading--bar {
  padding-bottom: 8px;
  border-bottom: 1px solid #d5d5d5;

  &::after {
    @include pseudo();
    
    top: 100%;
    left: 0;
    width: 120px;
    height: 0;
    border-top: 4px solid $color-primary;
  }
}
