extends _template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'home-page'

block content
  .o-wrapper
    include _components/header
    main.o-main-content
      include _pages/1-index/top-banner
      include _pages/1-index/areas
      include _pages/1-index/request
      include _pages/1-index/clients
      include _pages/1-index/team

    include _components/footer
