extends _template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'home-page'

block content
  include _components/header
  main.o-wrapper
    include _pages/1-index/top-banner
    include _pages/1-index/practices
    include _pages/1-index/request
    include _pages/1-index/clients
    include _pages/1-index/team
  include _components/footer
