extends _template/main

block variables
  - var title = 'Адвокаты'
  - var pageClass = 'lawyers-page'

block content
  include _components/header
  .o-wrapper
    .o-container
      +breadcrumbs(['Главная', 'Адвокаты'])
      include _pages/5-lawyers/lawyers-content
  include _components/footer
