.practice-content
  figure.content-banner.content-banner--bar
    img(src="img/content/practice-1.jpg", alt="")
  .content-zone
    h1 Семейное право
    p.
      Уже привычным для жителей одного из общежитий Харькова стало встречать зиму без отопления и холодной воды. Частые поломки труб и проблемы с редоставлением коммунальных услуг возникли после передачи многоэтажки с собственности Харьковского завода имени Т. Г. Шевченка одному из училищ города и, соответственно, смена статуса из семейного общежития в место для временного проживания учеников.
    p.
      Основной загвоздкой для жителей стало отсутствие нормативного основания для такой передачи, поскольку решение было принято исключительно на выполнение письма вышестоящих органов власти. Сейчас же, даже имея регистрационные документы, семьи столкнулись с проблемой невозможности приватизировать жилье.

    button.c-btn.c-btn--block.c-btn--primary.c-btn--icon.js-popup-form(type="button")
      | Оставить заявку
      +icon('chevron-right')